@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #460B80;
  --color-background-dark: #17022B;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#17022B] text-slate-100 antialiased;
  }
}

.glass-card {
  background: rgba(70, 11, 128, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(70, 11, 128, 0.1);
}